<h3><u>{{ repository.name }}</u></h3>

{% if error is not None %}
    <p>This repository does not have any files or any commits yet</p>
{% else %}
    {% for directory in directories %}
<!--        dd <b><a href="">{{ directory.directory_name }}</a></b><br>-->
        dd <b><a href="{% url 'main_app:view-repository' id=repository_id %}?path={{ tree_path }}/{{ directory.directory_name }}">{{ directory.directory_name }}</a></b><br>
    {% endfor %}

    {% for file in files %}
        ff <i><a href="{% url 'main_app:view-blob' id=repository_id %}?path={{ tree_path }}&blob_name={{ file.blob_name }}">{{ file.blob_name }}</a></i><br>
    {% endfor %}

    <h5>Commits</h5>
    {% for repo_commit in repository_commits %}
        <a href="{% url 'main_app:view-repository' id=repository_id %}?path={{ tree_path }}&commit_id={{ repo_commit.hexsha }}">{{ repo_commit.hexsha }}</a><br>
    {% endfor %}
{% endif %}