{% extends 'base.html' %}

{% load static %}
{% load paul_tags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3><u><a href="{% url 'main_app:view-repository' id=repository_id %}">{{ repository.name }}</a></u></h3> {% if commit_id %}{{ commit_id }}{% endif %}
            </div>
        </div>
        <div class="row repository-content-listing">
            {% if error is not None %}
                <p>This repository does not have any files or any commits yet</p>
            {% else %}
                <div class="col-lg-8">
                    <h5>{% if tree_path %}{{ tree_path }}{% else %}/{% endif %}</h5>
                    <ul class="list-group">
                        {% for directory in directories %}
                            <li class="list-group-item list-group-item-primary">
                                <img src="{% static 'icons/file-directory-fill.svg' %}" alt="directory svg" icon-info="true">
                                <i class="bi bi-file-earmark"></i><a href="{% url 'main_app:view-repository' id=repository_id %}?path={{ tree_path }}/{{ directory.directory_name }}{% if commit_id %}&commit_id={{ commit_id }}{% endif %}">{{ directory.directory_name }}</a>
                            </li>
                        {% endfor %}
                        {% for file in files %}
                            <li class="list-group-item list-group-item-secondary"><a href="{% url 'main_app:view-blob' id=repository_id %}?path={{ tree_path }}&blob_name={{ file.blob_name }}{% if commit_id %}&commit_id={{ commit_id }}{% endif %}">{{ file.blob_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5>Commits</h5>
                    <div class="list-group">
                        {% for repo_commit in repository_commits %}
                            <a href="{% url 'main_app:view-repository' id=repository_id %}?path={{ tree_path }}&commit_id={{ repo_commit.hexsha }}" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                  <span class="mb-1" style="color: blue;">{{ repo_commit.hexsha|truncatechars:20 }}</span>
                                  <small>{{ repo_commit.committed_date|timestamp_from_filter|timesince }} ago</small>
                                </div>
                                <p class="mb-1">{{ repo_commit.message }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}